// Colors Page

$mainColor                          : #60AC93;
$secondColor                        : #8065C4;

$bgDarkOverlayColor                 : rgba(0,0,0,0.5);
$bgLightOverlayColor                : rgba(255, 255, 255, 0.5);

$whiteColor                         : #FFF;
$blackColor                         : #000;